GOOGLE_APPLICATION_CREDENTIALS=./serviceAccountKey.json
ALLOWED_ORIGINS=http://localhost:3000,https://kaliforage.vercel.app
# Optionnel pour autoriser des previews Vercel:
# ALLOWED_ORIGIN_REGEX=https://.*\.vercel\.app
